@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.font-saira {
  font-family: 'Saira', sans-serif;
}
@theme {
  --color-primary-color: #167aab;
  --color-secondary-color: #1b10e6;
}

